
body{
  background-color: rgb(75, 75, 75);
}

input[type="text"]:focus{
  outline: none;
}

button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

section{
  display: flex;
  height: 240px;
  padding:10px;
  opacity: 0.7;
}

.flex-container{
  display: flex;
}

.flex-container > div{
  /* overflow-y: scroll; */
  overflow: scroll;
  max-height: 400px;
  background-color: whitesmoke;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  flex: 1;
  margin: 10px;
  padding: 10px;
  height: 100%;
  background: rgba(204, 204, 204, 0.5);
  /* opacity: 0.6; */
}

h1{
  color: white;
  font-family:Fantasy, sans-serif;
  font-size: 100px;
  cursor: pointer;
  transition: color 1s ease-in-out;
}

.main{
  /* position:absolute; */
  top: 30%;
  left: 50%;
  /* margin-right:-50%; */
  /* transform: translate(-50%, -50%); */
  padding:1em;
  text-align: center;
  /* border: 1px solid white; */
}

.js-weather{
  margin:auto;
  text-align:right;
}

.js-greetings h4{
  font-size:40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.js-toDoList{
}

.js-clock{
}

.js-toDoForm ::placeholder{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: fantasy;
}

.js-form ::placeholder{
  color: white;
  font-weight: bold;
  font-size: 15px;
  font-family: fantasy;
}

.js-form input[type=text]{
  width: 20em;
  height: 2em;
  background: transparent;
  text-align: center;
  /* text-emphasis-color: white; */
  color: white;
  font-size: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: 2px solid white;
  border-top: none;
  border-left : none;
  border-right: none;
}

.js-toDoForm input[type=text]{
  width: 20em;
  height: 2em;
  background: transparent;
  /* text-emphasis-color: white; */
  color: white;
  text-align: center;
  font-size: 15px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-bottom: 2px solid white;
  border-top: none;
  border-left : none;
  border-right: none;
}

.clicked{
  color:rgb(0, 0, 0);
}

.form,
.greetings {
  display : none;
}

.showing {
  display : block;
}

@keyframes fadeIn{
  from{
    opacity:0;
  }
  to{
    opacity: 1;
  }
}

.bgImage{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
  /* background: #f1f1f1; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: #888; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}